<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Logout</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
         background-color: #13192a;
        color: aliceblue;
        padding: 20px;
      }
      .container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      h1 {
        color: #333;
      }
      .logout-form {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Logout</h1>
      <p>Are you sure you want to logout?</p>
       <div class="user-info" th:if="${user != null}">
        <div th:if="${#strings.equals(typeOfUser, 'buyer')}">
           <form th:action="@{'/logout/' + ${user.buyerId}}" method="post" class="logout-form">
        
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
        </div>
        <div th:if="${#strings.equals(typeOfUser, 'seller')}">

            <form th:action="@{'/logout/' + ${user.sellerId}}" method="post" class="logout-form">
        
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
          
        </div>
    </div>
    </div>

    <!-- Bootstrap JS and dependencies (not required for styling, but for form submission if needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
