<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Seller Login</title>
   
    <link rel="stylesheet" href="/static/css/auth.css">
  </head>
  <body>
    <div class="container">
      <h1>Seller Login</h1>
      <form
        action="#"
        th:action="@{/seller/login}"
        method="post"
        th:object="${seller}"
        class="needs-validation"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            th:field="*{sellerEmail}"
            placeholder="Enter Your email.."
            required
          />
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            th:field="*{sellerPassword}"
            placeholder="Enter your password.."
            required
          />
          <div class="invalid-feedback">Please enter your password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p th:if="${error}" class="error-message">Invalid email or password.</p>
      <p>
        Don't have an account?
        <a th:href="@{/seller/register}">Register here</a>
      </p>
    </div>
  </body>
</html>
