<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/buyer/register}" method="post" th:object="${buyer}">
        <label for="name">Name:</label><br>
        <input type="text" id="name" th:field="*{buyerName}"><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" th:field="*{buyerEmail}"><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" th:field="*{buyerPassword}"><br>
        
        <button type="submit">Register</button>
    </form>
    <p style="color: red;" th:text="${error}">Error message here</p>
    <p>Already have an account? <a th:href="@{/buyer/login}">Login here</a></p>
</body>
</html>
