<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Buyer Register</title>
    <link rel="stylesheet" href="/static/css/auth.css" />
  </head>
  <body>
    <div class="container">
      <h1>Buyer Register</h1>
      <form
        action="#"
        th:action="@{/buyer/register}"
        method="post"
        th:object="${buyer}"
        enctype="multipart/form-data"
        class="needs-validation"
        novalidate
      >
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            th:field="*{buyerName}"
            placeholder="Enter your name.."
            required
          />
          <div class="invalid-feedback">Please enter your name.</div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            th:field="*{buyerEmail}"
            placeholder="Enter your email.."
            required
          />
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            th:field="*{buyerPassword}"
            placeholder="Enter your password.."
            required
          />
          <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <div class="form-group">
          <label for="avatar">Avatar:</label>
          <input
            type="file"
            id="avatar"
            name="avatar"
            class="form-control-file"
            accept=".jpg, jpeg, .png"
            required
          />
          <small class="form-text text-muted">Upload your avatar image.</small>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
      </form>

      <p style="color: red" th:text="${error}">Error message here</p>
      <p>
        Already have an account? <a th:href="@{/buyer/login}">Login here</a>
      </p>
    </div>

    <!-- Bootstrap JS and dependencies (not required for styling, but for form validation if needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
